<section class="presets">
  {{#each presets as |p|}}
  <fieldset class="preset" data-preset-id="{{p.id}}">
    <legend>
      <input type="text" name="presets.{{p.id}}.name" value="{{p.name}}" placeholder="Preset name"/>
      <button type="button" class="icon" data-action="deletePreset" data-preset-id="{{p.id}}" title="{{localize 'TOKEN_DEFAULTS.Manager.delete'}}">
        <i class="fa-solid fa-trash"></i>
      </button>
    </legend>
    {{#each p.fields as |f|}}
    <div class="field">
      <label class="enable">
        <input type="checkbox" name="presets.{{../p.id}}.fields.{{f.key}}.enabled" {{#if f.enabled}}checked{{/if}}/>
        <span>{{localize f.label}}</span>
      </label>
      {{#if (eq f.type "select")}}
      <select name="presets.{{../p.id}}.fields.{{f.key}}.value">
        {{#each f.choices as |c|}}
        <option value="{{c.value}}" {{#if c.selected}}selected{{/if}}>{{c.label}}</option>
        {{/each}}
      </select>
      {{else}}
      <input type="checkbox" name="presets.{{../p.id}}.fields.{{f.key}}.value" {{#if f.value}}checked{{/if}}/>
      {{/if}}
    </div>
    {{/each}}
  </fieldset>
  {{else}}
  <p class="hint">{{localize "TOKEN_DEFAULTS.Manager.empty"}}</p>
  {{/each}}
</section>
<button type="button" data-action="createPreset" class="new-preset">
  <i class="fa-solid fa-plus"></i> {{localize "TOKEN_DEFAULTS.Manager.new"}}
</button>
